* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9a844f;
    text-align: center;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    width: 62vmin; /* ensures 3 boxes per line */
}

.box {
    height: 20vmin;
    width: 20vmin;
    background-color: blue;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)    ;
}
